body {
    display: flex;
    background: radial-gradient(circle, #e66465, #9198e5);
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vh - 100px);
    height: calc(100vh - 100px);
    row-gap: 25px;
}

#timer {
    text-align: center;
    
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vh;
    font-family: monospace;
    font-weight: lighter;
}

#clickButton {
    background-color: rgb(80% 60% 100%);
    color: lightcyan;
    font-size: 5vh;
    border-radius: 50%;
    border-width: 0px;
    width: 50%;
    height: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #843745;
    box-shadow: 0px 0px 50px 10px #b10d3c;
    text-align: center;
    transition-property: width, height, background-color;
    transition-delay: 0ms;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

#clickButton:hover {
    background-color: paleturquoise;
    color: black;
    filter: drop-shadow(5px 5px 10px red) contrast(150%);
    font-size: 6vh;
    width: 55%;
    height: 55%;
    cursor: crosshair;
    transition-property: width, height, background-color;
    transition-delay: 0ms;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

#clicks {
    text-align: center;
    color: lightcoral;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vh;
    font-family: monospace;
    font-weight: lighter;   
}